html, body{
    height: 100%;
    margin: 0;
 }
 


.codeview {
    height: 100% !important   ; /* высота нашего блока */
    width: 40%; /* ширина нашего блока */
    background: rgba(69, 103, 255, 0.8); /* цвет фона, белый */ 
    overflow-x: scroll !important; /* прокрутка по вертикали */ 
    overflow-y: scroll !important; /* прокрутка по вертикали */
    }

.node-editor{ 
   height: 100% !important   ;
   width: 70%;
 }
 
 .socket.number{
     background: lightgreen
 }
 .socket.array{
    background: lightpink
}

.socket.list{
    background: lightskyblue
}
 
 
 .control input {
    width: 150px
 }

 .ControlsContainer{
    display: flex;
    height: 70px;
    align-items: center;
    background: rgba(69, 103, 255, 0.8); 
 }

.flexBoxHolder{
    display: flex;
    flex-direction: row;
    top: 100px;
    bottom: 0;
    height: calc(100% - 58px);  
}



#CodeWrapper {
    flex: 1;
}

#removable{
    height: 100%;
    flex: 3;
}


.textik{
    color: white;
    font-family: sans-serif;
    font-size: 18px;
    padding: 8px;
    
}

.header {
    color: white;
    font-family: sans-serif;
    font-size: 18px;
    padding: 8px;
    font-weight: bold;
}

button {
    border-radius: 15px;
    background-color:lightcoral;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 0px 6px;
    position: absolute;
    right: 5px;
    width:330px;
    font-family: 'Times New Roman', Times, serif;
}